<div class="footerBackground">
    <div class="footer">
      <div class="footerCopyright">
        <img
          src="/images/footer-logo.svg"
          alt="Logo footer"
          class="footerCopyrightLogo"
        />
        <p class="footerCopyrightSlogan">
          <a
            target="_blank"
            href="https://www.facebook.com/BeeXTechnology"
            class="footerLink"
          >
            BeeX
          </a>
          là nơi tuyệt vời để bắt đầu hiện thực hoá ý tưởng kinh doanh của
          bạn.
          <br />
          Với những chiến dịch giúp gia tăng doanh số bán hàng từ đó hướng đến
          sự thành công của doanh nghiệp bạn.
        </p>
        <p class="footerCopyrightID">Copyright 2021 © BeeX JSC</p>
      </div>
      <div class="connectUs">
        <h1 class="connectUsLabel">Kết nối với chúng tôi</h1>
        <div class="connectUsItems">
          <p>
            <span class="span">
              <img src="/images/footer-telephone.svg" alt="">
            </span>
            <a class="footer-a"  href="tel:+84967802598">0967802598</a>
          </p>
          <p>
            <span class="span">
              <img src="/images/footer-envelope.svg" alt="">
            </span>
            <a class="footer-a" target="_blank" href="mailto:contact@beex.asia">
              contact@beex.asia
            </a>
          </p>
          <p>
            <span class="span">
              <img src="/images/footer-facebook.svg" alt="">
            </span>
            <a class="footer-a"target="_blank" href="https://www.facebook.com/BeeXTechnology">
              BeeX
            </a>
          </p>
          <p>
            <span class="span">
              <img src="/images/footer-location.svg" alt="">
            </span>
            Ninh Kiều, Cần Thơ
          </p>
        </div>
      </div>
      <div class="link">
        <h1 class="linkLabel">Liên kết</h1>
        <div class="linkItems">
          <Link href="/#Header">
            <a>Trang chủ</a>
          </Link>
          <Link href="/aboutUs">
            <a>Về chúng tôi</a>
          </Link>
        </div>
      </div>
      <img
        class="footerBackgroundIcon"
        src="/images/footer-bee.svg"
        alt="footer background icon"
      />
    </div>
  </div>