   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Admin</title>
       <link rel="stylesheet" href="/css/index.css">
   </head>
   <body>
       <script>
        var customer =[
        {
            fullname: 'Phan Quang Huy Vu',
            phone: '0767958005',
            email: 'qhvu.phan@gmail.com',
            address: 'Ninh Kieu, Can Tho'            
        },
        {
            fullname: 'Phan Dinh Khoi',
            phone: '0767958005',
            email: 'khoib1805777@student.ctu.edu.vn',
            address: 'Ninh Kieu, Can Tho'            
        },
        {
            fullname: 'Phan Quang Huy Vu',
            phone: '0767958005',
            email: 'qhvu.phan@gmail.com',
            address: 'Ninh Kieu, Can Tho'            
        }
    ]
    </script>
    <div id="customer" class="containers" >
    <h1 class="title">Customer Manager</h1>
    <a class="addcus" href="">Add Customer</a>     
    <div class="bodys">
        <div class="bodyss"><h3>Full Name</h3></div>
        <div class="bodyss"><h3>Phone Number</h3></div>
        <div class="bodyss"><h3>Email</h3></div>
        <div class="bodyss"><h3>Address</h3></div>
        <div class="bodysss"><a style="color:white; border:1px solid white" class="view"href="">View</a> <a style="color:white; border:1px solid white" class="Edit" href="">Edit</a> <a style="color:white; border:1px solid white" class="Delete" href="">Delete</a></div>
    </div>
    <div class="bodys">
    <div class="bodyss">Phan Quang Huy Vu</div>
    <div class="bodyss">0767958005</div>
    <div class="bodyss">qhvu.phan@gmail.com</div>
    <div class="bodyss">Ninh Kiều, Cần Thơ</div>
    <div class="bodysss"><a class="Edit" href="">Edit</a> <a class="Delete" href="">Delete</a></div>
    </div>
    <div class="bodys">
    <div class="bodyss">Phan Quang Huy Vu</div>
    <div class="bodyss">0767958005</div>
    <div class="bodyss">qhvu.phan@gmail.com</div>
    <div class="bodyss">Ninh Kiều, Cần Thơ</div>
    <div class="bodysss"> <a class="Edit" href="">Edit</a> <a class="Delete" href="">Delete</a></div>
    </div>
    <div class="bodys">
    <div class="bodyss">Phan Quang Huy Vu</div>
    <div class="bodyss">0767958005</div>
    <div class="bodyss">qhvu.phan@gmail.com</div>
    <div class="bodyss">Ninh Kiều, Cần Thơ</div>
    <div class="bodysss"> <a class="Edit" href="">Edit</a> <a class="Delete" href="">Delete</a></div>
    </div>
    <div class="bodys">
    <div class="bodyss">Phan Quang Huy Vu</div>
    <div class="bodyss">0767958005</div>
    <div class="bodyss">qhvu.phan@gmail.com</div>
    <div class="bodyss">Ninh Kiều, Cần Thơ</div>
    <div class="bodysss"> <a class="Edit" href="">Edit</a> <a class="Delete" href="">Delete</a></div>
    </div>
    </div>
   </body>
   </html>
   <script>
       
   