
<div class="containerr">
  <div  id="infoproduct" class="container">
  <h1>Yêu cầu mua sản phẩm <img class="img-title" src="/images/beex-title.svg" alt=""></h1>
  <form action="">
    <div class="container-chil">
      <div class="chil">
        <p>Tên của bạn*</p>
      <input class="chil-input" type="text">
      </div>
      <div class="chil">
        <p>Số điện thoại*</p>
        <input class="chil-input" type="text">
      </div>
    </div>
    <div class="container-chil">
      <div class="chil">
        <p>Email*</p>
        <input class="chil-input" type="text">
      </div>
      <div class="chil">
        <p>Địa chỉ*</p>
        <input class="chil-input" type="text">
      </div>
    </div>
    <div class="info">
    <p>Tên sản phẩm: Thiết kế nhận diện thương hiệu</p>
    <p>Gói: Thiết kế logo</p>
    <p>Loại: SupperVIP</p>
    <p>Giá: 29.999.000vnd</p>
    </div> 
    <div class="button-btn">
      <div class="wrapper">
        <a href="#" onclick="process()"><span>Gửi yêu cầu</span></a>
      </div>
    </div>
   
  </form>
  </div>
  <%- include('../note/note.ejs')%>
</div> 