<div id="notes" class="note newstyle">
    <p>Bạn đã điền đầy đủ thông tin?</p>
    <div class="select">
        <a class="yes" href="#infoproduct" onclick="process1()">Yes</a>
        <a class="no" href="#customer" onclick="process2()">No</a>
    </div>
</div>